{% extends "base.html" %}

{% block title %}Polaris: Our North Star{% endblock %}

{% block content %}
<h1>Organization</h1>
    <button hx-get="/get-add-organization" hx-target="#addOrganizationModal .modal-content" data-bs-toggle="modal" data-bs-target="#addOrganizationModal" hx-trigger="click" class="btn btn-primary">Add Organization</button>
    <div class="modal fade" id="addOrganizationModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="organizationTable" hx-get="/load-organizations-table" hx-trigger="load">
        Loading Data Please Wait...
    </div>
{% endblock %}