{% extends "base.html" %}

{% block title %}HICKMAN{% endblock %}

{% block content %}
    <h1>HICKMAN</h1>

    {% include '/districts/hickman/hickman_nav.html'%}

    {% set filter_id = 'statusFilterHICKMAN' %}
    {% set filter_name = 'statusFilter' %}
    {% set label = 'Filter by Status:' %}
    {% set hx_get_url = '/filter-hickman' %}
    {% set hx_target = '#districtTable' %}
    {% include 'status_filter.html' %}

    <div class="mb-3">
        <label for="schoolFilter" class="form-label">Filter by Status:</label>
        <select id="schoolFilter" name="schoolFilter" class="form-select" hx-get="/filter-hickman" hx-target="#districtTable" hx-trigger="change">
            <option value="">All</option>
            <option value="EAST HIGH SCHOOL">East High</option>
            <option value="FOREIGN LANGUAGE ACADEMY">FLA</option>
            <option value="MANUAL CAREER & TECH. CTR.">Manual</option>
            <option value="NORTHEAST HIGH SCHOOL">Northeast</option>
            <!-- Add more status options as needed -->
        </select>
    </div>

    <div id="districtTable" hx-get="/load-district-table?district=hickman" hx-trigger="load">
        <!-- session_table.html content will be loaded here -->
        Loading Data Please Wait...
    </div>

{% endblock %}