<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                <div>Session ID</div>
                <div>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=session_id&direction=asc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-up mb-1"></i>
                    </a>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=session_id&direction=desc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th>
                <div>Title</div>
                <div>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=title&direction=asc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=title&direction=desc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th>
                <div>Date</div>
                <div>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=date&direction=asc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=date&direction=desc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th>
                <div>Status</div>
                <div>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=status&direction=asc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=status&direction=desc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th>
                <div>School</div>
                <div>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=school&direction=asc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=school&direction=desc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th>
                <div>District/Company</div>
                <div>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=district_or_company&direction=asc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-district-table?district=kcps&sort=district_or_company&direction=desc" hx-target="#districtTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td><a href="#" hx-get="/session_details?session_id={{ session.id }}" hx-target="#details">{{ session.title }}</a></td>
                <td>{{ session.date.strftime('%m/%d/%y') if session.date else 'Date not set' }}</td>
                <td>{{ session.status }}</td>
                <td>{{ session.school }}</td>
                <td>{{ session.district_or_company }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
