{% extends "base.html" %}

{% block title %}Polaris: Our North Star{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Edit Volunteer</h1>
    <form method="POST" action="{{ url_for('update_volunteer', volunteer_id=volunteer.id) }}">
        {% include '/persons/edit_person_form.html' %}
        {% include '/volunteers/edit_volunteer_form.html' %}
        <input type="hidden" name="volunteer_id" value="{{ volunteer.id }}">

        <button type="submit" class="btn btn-primary">Update volunteer</button>
    </form>
</div>
{% endblock %}