<div id="teacherTable">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>School Name</th>
                <th>Sessions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.school_name }}</td>
                <td>
                    <ul>
                        {% for session in teacher.sessions %}
                        <li>{{ session.title}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="/edit-teacher?teacher_id={{ teacher.id }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="#" hx-delete="/delete-teacher?teacher_id={{ teacher.id }}" hx-target="closest tr" hx-swap="outerHTML delete" hx-confirm="Are you sure you want to delete this teacher?" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>