<!-- session_row.html -->
<tr id="id{{ session.id }}">
    <td>{{ session.id }}</td>
    <td><a href="#" hx-get="/session_details?session_id={{ session.id }}" hx-target="#details">{{ session.title }}</a></td>
    <td>{{ session.date.strftime('%m/%d/%Y') if session.date else 'Date not set' }}</td>
    <td>{{ session.start_time.strftime('%H:%M') if session.start_time else 'Time not set' }}</td>
    <td>{{ session.status }}</td>
    <td>
        {% if session.teachers %}
            {% set school_names = [] %}
            {% for teacher in session.teachers %}
                {% set _ = school_names.append(teacher.school_name) %}
            {% endfor %}
            {{ school_names|join(', ') }}
        {% else %}
            Teacher not set
        {% endif %}
    </td>
    <td>
        {% if session.teachers %}
            {% set teacher_names = [] %}
            {% for teacher in session.teachers %}
                {% set _ = teacher_names.append(teacher.name) %}
            {% endfor %}
            {{ teacher_names|join(', ') }}
        {% else %}
            Teacher not set
        {% endif %}
    </td>
    <td>
        {% if session.presenters %}
            {% set presenter_names = [] %}
            {% for presenter in session.presenters %}
                {% set _ = presenter_names.append(presenter.name) %}
            {% endfor %}
            {{ presenter_names|join(', ') }}
        {% else %}
            Presenter not set
        {% endif %}
    </td>
    <td>
        {% if session.presenters %}
            {{ session.presenters[0].organization if session.presenters[0].organization else 'Organization not set' }}
        {% else %}
            No Presenter
        {% endif %}
    </td>
    <td>
        <a href="#" hx-get="/edit-session?session_id={{ session.id }}" hx-target="#editPane" class="btn btn-primary">Edit</a>
    </td>
    <td>
        <a href="#" hx-delete="/delete-session?session_id={{ session.id }}" hx-target="closest tr" hx-swap="outerHTML delete" hx-confirm="Are you sure you want to delete this session?" class="btn btn-danger btn-sm">Delete</a>
    </td>
</tr>
