{% extends "base.html" %}

{% block title %}Add School{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Add School</h1>
    <form method="POST" hx-post="/add-school">
        <div class="mb-3">
            <label for="schoolName" class="form-label">School Name</label>
            <input type="text" class="form-control" id="schoolName" name="schoolName" required>
        </div>
        <div class="mb-3">
            <label for="schoolDistrict" class="form-label">School District</label>
            <select class="form-control" id="schoolDistrict" name="schoolDistrict" required>
                <option value="" disabled selected>Select School District</option>
                <option value="Allen Village">Allen Village</option>
                <option value="Center">Center</option>
                <option value="Crossroads Academy">Crossroads Academy</option>
                <option value="Grandview">Grandview</option>
                <option value="Guadalupe Centers">Guadalupe Centers</option>
                <option value="Hickman">Hickman</option>
                <option value="Hogan Prep">Hogan Prep</option>
                <option value="Independence">Independence</option>
                <option value="KCKPS (KS)">KCKPS (KS)</option>
                <option value="KCPS (MO)">KCPS (MO)</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="schoolLevel" class="form-label">School Level</label>
            <select class="form-control" id="schoolLevel" name="schoolLevel" required>
                <option value="" disabled selected>Select School Level</option>
                <option value="Elementary">Elementary</option>
                <option value="Middle">Middle</option>
                <option value="High">High</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add School</button>
    </form>
</div>
{% endblock %}
