<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>District</th>
            <th>Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{ school.id }}</td>
            <td>{{ school.name }}</td>
            <td>{{ school.district }}</td>
            <td>{{ school.level }}</td>
            <td>
                <a href="/edit-school?school_id={{ school.id }}"  class="btn btn-primary btn-sm">Edit</a>
                <a href="#" hx-delete="/delete-school?school_id={{ school.id }}" hx-target="closest tr" hx-swap="outerHTML delete" hx-confirm="Are you sure you want to delete this school?" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>