<div class="mb-3">
    <label for="schoolSearch" class="form-label">Teacher School</label>
    <input type="text" class="form-control" id="schoolSearch" name="schoolSearch" placeholder="Type to search and add a school..." hx-get="/search-schools" hx-trigger="keyup changed delay:500ms" hx-target="#schoolNameSuggestions" hx-swap="innerHTML" autocomplete="off">
    <div id="schoolNameSuggestions" class="list-group position-absolute" style="z-index: 100; width:100%;"></div>
    <input type="hidden" id="selectedSchoolId" name="schoolId" value="{{ teacher.primary_affiliation_id if teacher else '' }}">
</div>
<div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" class="form-control" id="type" name="type" value="{{ teacher.type if teacher else '' }}" required>
</div>
