{% extends "base.html" %}

{% block title %}Polaris: Our North Star{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Edit Teacher</h1>
    <form method="POST" action="{{ url_for('update_teacher', teacher_id=teacher.id) }}">

    {%include '/persons/edit_person_form.html' %}
    {%include '/teachers/edit_teacher_form.html' %}
    <input type="hidden" name="teacher_id" value="{{ teacher.id }}">

    <button type="submit" class="btn btn-primary">Update Teacher</button>
</form>
{% endblock %}