{% extends "base.html" %}

{% block title %}KCPS{% endblock %}

{% block content %}
    <h1>KCPS</h1>
    {% include '/districts/kcps/kcps_nav.html'%}
    <div class="mb-3">
        <label for="statusFilter" class="form-label">Filter by Status:</label>
        <select id="statusFilter" name="statusFilter" class="form-select" hx-get="/filter-kcps" hx-target="#districtTable" hx-trigger="change">
            <option value="">All</option>
            <option value="Completed">Completed</option>
            <option value="Draft">Draft</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Requested">Requested</option>
            <!-- Add more status options as needed -->
        </select>
    </div>
    <div class="mb-3">
        <label for="schoolFilter" class="form-label">Filter by Status:</label>
        <select id="schoolFilter" name="schoolFilter" class="form-select" hx-get="/filter-kcps" hx-target="#districtTable" hx-trigger="change">
            <option value="">All</option>
            <option value="EAST HIGH SCHOOL">East High</option>
            <option value="FOREIGN LANGUAGE ACADEMY">FLA</option>
            <option value="MANUAL CAREER & TECH. CTR.">Manual</option>
            <option value="NORTHEAST HIGH SCHOOL">Northeast</option>
            <!-- Add more status options as needed -->
        </select>
    </div>
    <div id="districtTable" hx-get="/load-district-table?district=kcps" hx-trigger="load">
        <!-- session_table.html content will be loaded here -->
        Loading Data Please Wait...
    </div>
{% endblock %}