{% extends "base.html" %}

{% block title %}Polaris: Our North Star{% endblock %}

{% block content %}
    <h1>Polaris: Our North Star</h1>
    <p>Welcome to the home page!</p>
    <a href="/session_page" class="btn btn-primary">New Session Page</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addSessionModal">
      Add Session
    </button>
    <div class="modal fade" id="addSessionModal" tabindex="-1" aria-labelledby="addSessionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSessionModalLabel">Add Session</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body
          ">
            <form method="POST" hx-post="/add-session">
              <div class="mb-3">
                <label for="sessionTitle" class="form-label
                ">Session Title</label>
                <input type="text" class="form-control" id="sessionTitle" name="sessionTitle" required>
              </div>
              <div class="mb-3">
                <label for="sessionDate" class="form-label
                ">Session Date</label>
                <input type="date" class="form-control" id="sessionDate" name="sessionDate" required>
              </div>
              <div class="mb-3">
                <label for="sessionTime" class="form-label
                ">Session Time</label>
                <input type="time" class="form-control" id="sessionTime" name="sessionTime" required>
              </div>
              <div class="mb-3">
                <label for="sessionSchool" class="form-label
                ">Session School</label>
                <input type="text" class="form-control" id="sessionSchool" name="sessionSchool" required>
              </div>
              <div class="mb-3">
                <label for="sessionDistrict" class="form-label">Session District</label>
                <input type="text" class="form-control" id="sessionDistrict" name="sessionDistrict" required>
              </div>
              <div class="mb-3">
                <label for="sessionPresenter" class="form-label">Session Presenter</label>
                <input type="text" class="form-control" id="sessionPresenter" name="sessionPresenter" required>
              </div>
              <div class="mb-3">
                <label for="sessionOrganization" class="form-label">Session Organization</label>
                <input type="text" class="form-control" id="sessionOrganization" name="sessionOrganization" required>
              </div>
              <button type="submit" class="btn btn-primary">Add Session</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Sessions without Volunteers
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div id="sessionsWithoutVolunteers" hx-get="/load-sessions-table?status=request" hx-trigger="load">
                Loading Data Please Wait...
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Upcoming Sessions
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div id="sessionsTable" hx-get="/load-sessions-table?status=confirmed" hx-trigger="load">
                Loading Data Please Wait...
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
