<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="">
                <div class="">Session ID</div>
                <div class="">
                    <a href="#" hx-get="/load-sessions-table?sort=session_id&direction=asc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-up mb-1"></i> <!-- mb-1 adds a small margin at the bottom -->
                    </a>
                    <a href="#" hx-get="/load-sessions-table?sort=session_id&direction=desc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th class="">
                <div class="">Title</div>
                <div class="">
                    <a href="#" hx-get="/load-sessions-table?sort=title&direction=asc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-sessions-table?sort=title&direction=desc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th class="">
                <div class="">Date</div>
                <div class="">
                    <a href="#" hx-get="/load-sessions-table?sort=date&direction=asc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-sessions-table?sort=date&direction=desc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th class="">
                <div class="">Status</div>
                <div class="">
                    <a href="#" hx-get="/load-sessions-table?sort=status&direction=asc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-sessions-table?sort=status&direction=desc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th class="">
                <div class="">School</div>
                <div class="">
                    <a href="#" hx-get="/load-sessions-table?sort=school&direction=asc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-sessions-table?sort=school&direction=desc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
            <th class="">
                <div class="">District/Company</div>
                <div class="">
                    <a href="#" hx-get="/load-sessions-table?sort=district_or_company&direction=asc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <a href="#" hx-get="/load-sessions-table?sort=district_or_company&direction=desc" hx-target="#sessionsTable" hx-trigger="click">
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.session_id }}</td>
                <!-- <td>{{ session.title }}</td> -->
                <td><a href="#" hx-get="/session_details?session_id={{ session.session_id }}" hx-target="#details">{{ session.title }}</a></td>
                <td>{{ session.date.strftime('%m/%d/%y') if session.date else 'Date not set' }}</td>
                <td>{{ session.status }}</td>
                <td>{{ session.school }}</td>
                <td>{{ session.district_or_company }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
