{% extends "base.html" %}

{% block title %}Polaris: Our North Star{% endblock %}

{% block content %}
    <h1>Sessions List</h1>
    <div class="m-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addSessionModal">
            Add Session
        </button>
    </div>
    <div class="modal fade" id="addSessionModal" tabindex="-1" aria-labelledby="addSessionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSessionModalLabel">Add Session</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" hx-post="/add-session">
                        <div class="mb-3">
                            <label for="sessionTitle" class="form-label">Session Title</label>
                            <input type="text" class="form-control" id="sessionTitle" name="sessionTitle" required>
                        </div>
                        <div class="mb-3">
                            <label for="sessionDate" class="form-label">Session Date</label>
                            <input type="date" class="form-control" id="sessionDate" name="sessionDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="sessionTime" class="form-label">Session Time</label>
                            <input type="time" class="form-control" id="sessionTime" name="sessionTime" required>
                        </div>
                        <div class="mb-3">
                            <label for="sessionSchool" class="form-label">Session School</label>
                            <input type="text" class="form-control" id="sessionSchool" name="sessionSchool" required>
                        </div>
                        <div class="mb-3">
                            <label for="sessionPresenter" class="form-label">Session Presenter</label>
                            <input type="text" class="form-control" id="sessionPresenter" name="sessionPresenter" required>
                        </div>
                        <div class="mb-3">
                            <label for="sessionOrganization" class="form-label">Session Organization</label>
                            <input type="text" class="form-control" id="sessionOrganization" name="sessionOrganization" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Session</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="details">
        <!-- Session details will be loaded here by HTMX -->
    </div>
    {% set filter_id = 'statusFilter' %}
    {% set filter_name = 'statusFilter' %}
    {% set label = 'Filter by Status:' %}
    {% set hx_get_url = '/filter-sessions' %}
    {% set hx_target = '#sessionsTable' %}
    
    {% include 'status_filter.html' %}

    <form id="dateFilterForm" hx-get="/load-sessions-table" hx-target="#sessionsTable" hx-trigger="change from:#dateFilterForm">
        <div class="row">
            <div class="col-6">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="start_date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="col-6">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="end_date" class="form-control" value="{{ end_date }}">
            </div>
        </div>
    </form>

    <div id="sessionsTable" hx-get="/load-sessions-table" hx-trigger="load">
        <!-- session_table.html content will be loaded here -->
        Loading Data Please Wait...
    </div>
</div>
{% endblock %}